/* medium devices */
@media (max-width: 768px) {
    body,
    .btn,
    .lead {
        font-size: 0.95em !important;
    }
}

/* small devices */
@media (max-width: 600px) {
    body,
    .btn,
    .lead {
        font-size: 0.9em !important;
    }
}

code {
    color: white;
}
